<div class="page-header">
  <h1>Hey! Thanks for checking out YouGenius!</h1>
</div>
<p class="lead">YouGenius was created by <a href="https://github.com/juanfiguera">Juan Figuera</a>. Please feel free to reach out.</p>
<p>Huge thanks to <a href="https://github.com/timrogers">Tim Rogers</a> for creating the <a href="https://github.com/timrogers/rapgenius">rapgenius gem</a> used on this project.</p>