<div class="content">
	<div class="row">
		<div class="col-sm-7 col-sm-offset-1">
			<div id="player"></div>
		</div>

		<div class="col-sm-3">
			<div id="playlist">
				<div id="playlist_spinner"></div>
				<%= render "shared_partials/playlist" %>
			</div>
		</div>
	</div>		

	<div id="lyrics">
		<div id="lyrics_spinner"></div>
		<%= render "shared_partials/lyrics" %>
	</div>
</div>

<div class="footer">
  <div class="container">
    <p class="text-muted"><%= Time.now.year %> YouGenius</p>
  </div>
</div>
