<h1>YouGenius</h1>
<div class="row">
	<div class="col-sm-9">
		<div id="player"></div>
	</div>

	<div class="col-sm-3">
		<div id="search-input">
			<%= form_tag root_path, :method => 'get' do %>
				<input id="search" name="search" type="text" class="form-control" placeholder="add song by title" /><span class="btn btn-lg btn-default">Add To Playlist</span>	
			<% end %>
		</div>
		<div id="playlist">
			<%= render "shared_partials/playlist" %>
		</div>
	</div>
</div>		

<div id="lyrics">
	<%= render "shared_partials/lyrics" %>
</div>

